* {
  box-sizing: border-box;
  font-family: "Pacifico", cursive;
}

body {
  margin: 0;
}

main {
  display: flex;
  min-height: calc(100vh - 10vh);
}

main > .user {
  flex: 1;
  background: #ed2839;
}

main > .status {
  flex: 0;
  background: #c0c0c0 url("../Images/Cross_Swords.png") center no-repeat;
  position: relative;
  background-size: contain;
}

main > .comp {
  flex: 1;
  background: #318ce7;
  /* background: #006b3d; */
}

main > .user {
  order: -1;
}

footer, .status, .user, .comp {
  padding: 1em;
}

footer {
  background: #e5b73b;
  height: 10vh;
}

.btn-group button {
  display: inline-block;
  background-color: #04aa6d; 
  border: 5px solid green; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  margin: 20px;
  border-radius: 35%;
  min-width: 75px;
  min-height: 75px;
}
